@import "../../../styles/mixins.module";

.btnWrapper {
  height: 30px;
  @include flex(center, center);
  border: 2px solid #e4e8ec;
  background: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 5px;
  background-color: white;

  .iconDiv {
    @include flex(center, center);
    height: 100%;
    aspect-ratio: 1/1;
    // border: 1px solid red;
    .icon {
      font-size: 1.3rem;
    }
  }
  .textDiv {
    width: auto;
    height: 100%;
    // border: 1px solid green;
    @include flex(center, center);
    p {
      font-size: 0.8rem;
      font-weight: 500;
      color: #717886;
      @include small-device {
        display: none;
      }
    }
  }
}
