@import "../../../styles/mixins.module";

.widgetWrapper {
  width: 30%;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  @include flex(center, center, column);
  padding: 10px;
  z-index: 1;
  position: relative;

  @include small-device {
    width: 100%;
  }
  .deleteCrossIconDiv {
    position: absolute;
    right: 8px;
    top: 8px;
    aspect-ratio: 1/1;
    height: auto;
    border: 1px solid slategray;
    border-radius: 50%;
    @include flex(center, center);
    cursor: pointer;
    z-index: 2;
    padding: 5px;
    .deleteCrossIcon {
      font-size: 0.5rem;
      color: slategray;
    }
  }

  .widgetNameDiv {
    width: 100%;
    height: 20px;
    @include flex(start, center);
    // border: 1px solid red;
    z-index: 1;

    p {
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
  .widgetContenDiv {
    width: 100%;
    height: calc(100% - 20px);
    // border: 1px solid black;
    @include flex(center, center);
    p {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}
