@import "../../../styles/mixins.module";

.widgetWrapper {
  width: 30%;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  @include flex(center, center, column);
  padding: 10px;

  @include small-device {
    width: 100%;
  }

  .widgetNameDiv {
    width: 100%;
    height: 20px;
    @include flex(start, center);
    // border: 1px solid red;
    p {
      font-size: 0.7rem;
      font-weight: 600;
    }
  }
  .widgetContenDiv {
    width: 100%;
    height: calc(100% - 20px);
    // border: 1px solid black;
    @include flex(center, center);
  }
}
